*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

@media screen and (max-width: 760px) {
  .container {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.accent-text {
  font-family: "Dancing Script", cursive;
  color: #d65a31;
}

body {
  font-family: "Lucida Sans", "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #eeeeee;
  box-sizing: border-box;
  font-size: 1.2rem;
  background-color: #222831;
}

/***********************************SCROLL BAR STYLES***********************************/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d65a31;
}


/***********************************BODY STYLES***********************************/

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #ffffff
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/***********************************HEADER STYLES***********************************/

.header {
  height: 10vh;
  z-index: 900;
  background-color: black;
  position: fixed;
  overflow: hidden;
  width: 100%;
  padding: 3rem 0rem 1rem 0rem;
}

@media screen and (max-width: 760px) {
  #main-header {
    padding-top: 25px;
  }
}

.logo {
  padding: 0.2rem 10rem 0rem 2rem;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #d65a31;
  font-family: "Dancing Script", "Courier New", Courier, monospace;
}

@media (max-width: 767px) {
  .logo {
    float: none;
  }
}

.navbar {
  float: right;
  width: 60%;
  overflow: hidden;
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  font-style: oblique;
}

.navbar li {
  padding: 0rem 3rem 0rem 0rem;
}

.navbar li a {
  color: antiquewhite;
  text-decoration: none;
}

nav ul a:hover {
  color: #d65a31;
}

#home {
  top: 7rem;
  height: 90vh;
  background: url('https://miro.medium.com/max/2363/1*KqJ-ZTaoVxcBBa1nr7mRAg.jpeg')
    no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

@media (max-width: 767px) {
  #home {
    height: 65rem;
  }
}

#particle {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.home-content h1 {
  font-size: 5rem;
  color: #fff;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.home-content h2 {
  font-size: 3rem;
  color: #bfbfbf;
  padding-left: 5%;
}

.home-content .small{
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
}

.img {
  padding-left: 15%;
}

.home-content img {
  left: 10%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px #d65a31 solid;
}

@media screen and (max-width: 768px) {
  .hero-content img {
    width: 200px;
    height: 200px;
  }
}


/***********************************CARD FLIP***********************************/

#transformers-rule {
  /* width: 750px;  */
  position: relative; 
  /* margin: 50px auto; */
}

.container {
  width: 324px; 
  height: 300px;
	-webkit-perspective: 1000;
}

.card {
  /* width: 324px;  */
  /* height: 412px; */
	/* border: 8px solid #fff;	 */
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
}
	.container:hover .card {
		-webkit-transform: rotateY(180deg);				
	}

.face {
	position: absolute;
	-webkit-backface-visibility: hidden;
}

	.megatron .front {
		
	}
	.megatron .back {
		-webkit-transform: rotateY(180deg);
	}


.front {
	z-index: 10;
}
.container:hover .front {
	z-index: 0;
} 

#about {
  padding-top: 15rem;
  position: relative;
  height: 58.5rem;
  margin-block-end: 160px;
}

.my-intro {
  float: left;
  width: 50%;
  padding: 1rem;
  padding-left: 15rem;
}

.my-intro p {
  text-indent: 10px;
  letter-spacing: 3px;
}

.show-experience :hover ~ .tool-tip{
  color: #d65a31;
}



.featured {
  float: left;
  width: 50%;
  padding: 1rem;
}

@media (max-width: 767px) {
  .my-intro {
    width: 100%;
  }

  .featured {
    width: 100%;
  }
}

.skills-tab {
  padding: 2rem;
}

.featured h2 {
  color: #d65a31;
}

.about-social{
  margin-top: 20px;
  margin-bottom: 20px; 
}

.about-social li {
  padding-right: 20px; 
}

.about-social .fa {
  padding: 12px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #070808;
  color: white;
}





/* radial progress bar */
.wrap {
  width: 60rem;
  margin: 0 auto;
  height: 13rem;
}


/* ---- Bar container--------------- */
.progress-radial {
  float: left;
  margin-right: 3rem;
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #d65a31;
}

/* -------------Optional centered circle w/text------------ */

.progress-radial .overlay {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background-color: #2f3439;
  border-radius: 50%;
  margin-left: 2rem;
  margin-top: 2rem;
  text-align: center;
  line-height: 6rem;
  font-size: 1.6rem;
  color: #fffde8;
}

.skill {
  font-size: 1.4rem;
  color: #000000;
  font-weight: bold;
  line-height: 1.6rem;
}

.skill-j {
  font-size: 1.4rem;
  color: #000000;
  font-weight: bold;
  line-height: 1.6rem;
  margin-right: 401px;
}

/* ---------------------Classes progress-% class--------------------- */

.progress-0 {
  background-image: linear-gradient(
      90deg,
      #fffde8 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(90deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-5 {
  background-image: linear-gradient(
      90deg,
      #fffde8 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(108deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-10 {
  background-image: linear-gradient(
      90deg,
      #fffde8 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(126deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-15 {
  background-image: linear-gradient(
      90deg,
      #fffde8 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(144deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-20 {
  background-image: linear-gradient(
      90deg,
      #fffde8 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(162deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-25 {
  background-image: linear-gradient(
      90deg,
      #fffde8 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(180deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-30 {
  background-image: linear-gradient(
      90deg,
      #fffde8 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(198deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-35 {
  background-image: linear-gradient(
      90deg,
      #fffde8 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(216deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-40 {
  background-image: linear-gradient(
      90deg,
      #fffde8 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(234deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-45 {
  background-image: linear-gradient(
      90deg,
      #fffde8 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(252deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-50 {
  background-image: linear-gradient(
      -90deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-55 {
  background-image: linear-gradient(
      -72deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-60 {
  background-image: linear-gradient(
      -54deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-65 {
  background-image: linear-gradient(
      -36deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-70 {
  background-image: linear-gradient(
      -18deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-75 {
  background-image: linear-gradient(
      0deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-80 {
  background-image: linear-gradient(
      18deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-85 {
  background-image: linear-gradient(
      36deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-90 {
  background-image: linear-gradient(
      54deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-95 {
  background-image: linear-gradient(
      72deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.progress-100 {
  background-image: linear-gradient(
      90deg,
      #d65a31 50%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(270deg, #d65a31 50%, #fffde8 50%, #fffde8);
}

.education h4{
font-size: 1.5rem;
}


.experience-header{
  left: 0;
  right: 0;
  margin-bottom: 3rem;
}

.experience-header h3{
  color: #d65a31;
  text-align: center;
  margin-top: 0rem;
  font-size: 3rem;
  font-weight: bold;
  border-bottom-style: solid;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
  text-transform: uppercase;
  letter-spacing: 1px;
}

/***********************************TIMELINE***********************************/

section#timeline {
  width: 80%;
  margin: 20px auto;
  position: relative;
  padding-top: 10rem;
  height: 65.5rem;
  margin-block-end: 170px;
}
section#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 30%;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 100%;
  background: rgba(255,255,255,0.2);
}
section#timeline article {
  width: 100%;
  margin: 0 0 20px 0;
  position: relative;
}
section#timeline article:after {
  content: '';
  display: block;
  clear: both;
}
section#timeline article div.inner {
  width: 40%;
  float: left;
  margin: 5px 0 0 0;
  border-radius: 6px;
}
section#timeline article div.inner span.date {
  display: block;
  width: 60px;
  height: 50px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -32px;
  border-radius: 100%;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  background: #25303B;
  color: rgba(255,255,255);
  border: 2px solid rgba(255,255,255,0.2);
  box-shadow: 0 0 0 7px #25303B;
}
section#timeline article div.inner span.date span {
  display: block;
  text-align: center;
}
section#timeline article div.inner span.date span.day {
  font-size: 10px;
}
section#timeline article div.inner span.date span.month {
  font-size: 10px;
}
section#timeline article div.inner span.date span.year {
  font-size: 18px;
}
section#timeline article div.inner h2 {
  padding: 0.7rem 1.5rem;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: -1px;
  border-radius: 6px 6px 0 0;
  position: relative;
}

section#timeline .title{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0.5rem 10px;
  text-shadow: 3px 3px 0 rgba(0,0,0,0.2);
  margin: 0 -15px 0px;
  position: relative;
}
section#timeline .title:before,
section#timeline .title:after{
  content: '';
  background: linear-gradient(-45deg, #0e85a0 49%, transparent 50%);
  height: 15px;
  width: 15px;
  position: absolute;
  left: 0;
  top: -15px;
}
section#timeline .title:after{
  left: auto;
  right: 0;
  top: auto;
  bottom: -15px;
  transform: rotate(180deg);
}

section#timeline article div.inner h2:after {
  content: '';
  position: absolute;
  top: 20px;
  right: -5px;
  width: 10px; 
	height: 10px;
  -webkit-transform: rotate(-45deg);
}
section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background: #fff;
  color: #656565;
  border-radius: 0 0 6px 6px;
}

section#timeline article:nth-child(1)  {
  margin-top: 1rem;
}

section#timeline article div.inner h2:after {
  background: #eeeeee;
}

section#timeline article:nth-child(2n+2) div.inner {
  float: right;
}
section#timeline article:nth-child(2n+2) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(1) div.inner h3 {
  background: #e74c3c;
}
/* section#timeline article:nth-child(1) div.inner h2:after {
  background: #e74c3c;
} */
section#timeline article:nth-child(2) div.inner h3 {
  background: #2ecc71;
}
/* section#timeline article:nth-child(2) div.inner h2:after {
  background: #2ecc71;
} */
section#timeline article:nth-child(3) div.inner h3 {
  background: #e67e22;
}
/* section#timeline article:nth-child(3) div.inner h2:after {
  background: #e67e22;
} */
section#timeline article:nth-child(4) div.inner h3 {
  background: #1abc9c;
}
/* section#timeline article:nth-child(4) div.inner h2:after {
  background: #1abc9c;
} */
section#timeline article:nth-child(5) div.inner h3 {
  background: #9b59b6;
}
/* section#timeline article:nth-child(5) div.inner h2:after {
  background: #9b59b6;
} */